# CSV 파일 로컬주소로 불러오기

In [34]:
# csv 파일 로컬주소로 불러오기

import pandas as pd
import numpy as np

file_path = "C:/Ai-class/titanic.csv" 
df = pd.read_csv(file_path)

# 데이터프레임 확인
print(df.head())
print(df.columns)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# CSV 파일 웹주소로 불러오기

In [21]:
# csv 파일 웹주소로 불러오기

import pandas as pd

# GitHub의 'raw' CSV 파일 URL 사용
url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/titanic.csv"

# CSV 파일 불러오기
df_1 = pd.read_csv(url)

# 데이터프레임 확인
print(df_1.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

# xlsx 파일 로컬주소로 불러오기

In [40]:
# xlsx 파일 로컬주소로 불러오기

import pandas as pd
import numpy as np

file_path = "C:/Ai-class/combined_dataset-1.xlsx" 
df = pd.read_excel(file_path)

# 데이터프레임 확인
print(df.head())
print(df.columns)

   Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0     1           2   Female         45         152          63
1     1           2   Female         45         152          63
2     1           2   Female         45         152          63
3     2           3   Female         50         157          50
4     2           3   Female         50         157          50

   Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                            161                              89
1                            161                              89
2                            161                              89
3                            160                              93
4                            160                              93

   Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0               97    27.268006  ...  1766  1766  1766  1833  1833  1827
1               97    27.268006  ...  1985  1985  2026  2026  2026  1977
2               97    27.268006  ...  1942  1900  1900  1938  1938  1938
3               76    20.284799  ...  2073  2072  2072  2072  2051  2051
4               76    20.284799  ...  2021  2010  2010  2010  2001  2001

   2097  2098  2099  2100
0  1827  1827  1754  1754
1  1977  1997  1997  1997
2  1924  1924  1929  1929
3  2036  2036  2036  2045
4  2003  2003  2003  1989

[5 rows x 2114 columns]
Index(['Num.', 'subject_ID', 'Sex(M/F)', 'Age(year)', 'Height(cm)',
       'Weight(kg)', 'Systolic Blood Pressure(mmHg)',
       'Diastolic Blood Pressure(mmHg)', 'Heart Rate(b/m)', 'BMI(kg/m^2)',
       ...
       '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
       '2100'],
      dtype='object', length=2114)

# xlsx 파일 웹주소로 불러오기

In [23]:
# xlsx 파일 웹주소로 불러오기

import pandas as pd
import requests
from io import BytesIO

# Excel 파일 URL (GitHub raw URL 예제)
url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/combined_dataset-1.xlsx"  

# HTTP 요청하여 데이터 가져오기
response = requests.get(url)

# 응답 데이터를 BytesIO로 변환하여 Pandas에서 읽기
df = pd.read_excel(BytesIO(response.content))

# 데이터 확인
print(df.head())

   Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0     1           2   Female         45         152          63
1     1           2   Female         45         152          63
2     1           2   Female         45         152          63
3     2           3   Female         50         157          50
4     2           3   Female         50         157          50

   Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                            161                              89
1                            161                              89
2                            161                              89
3                            160                              93
4                            160                              93

   Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0               97    27.268006  ...  1766  1766  1766  1833  1833  1827
1               97    27.268006  ...  1985  1985  2026  2026  2026  1977
2               97    27.268006  ...  1942  1900  1900  1938  1938  1938
3               76    20.284799  ...  2073  2072  2072  2072  2051  2051
4               76    20.284799  ...  2021  2010  2010  2010  2001  2001

   2097  2098  2099  2100
0  1827  1827  1754  1754
1  1977  1997  1997  1997
2  1924  1924  1929  1929
3  2036  2036  2036  2045
4  2003  2003  2003  1989

[5 rows x 2114 columns]

# 결측치 확인

In [25]:
import pandas as pd

# Titanic 데이터셋 불러오기 (GitHub 예제)
url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/titanic.csv"
df = pd.read_csv(url)

# 각 열별 결측치 개수 확인
missing_values = df.isnull().sum()

# 결측치 비율(%) 계산
missing_ratio = (df.isnull().sum() / len(df)) * 100

# 결과 출력
missing_df = pd.DataFrame({"결측치 개수": missing_values, "결측치 비율(%)": missing_ratio})
print(missing_df)

             결측치 개수  결측치 비율(%)
PassengerId       0   0.000000
Survived          0   0.000000
Pclass            0   0.000000
Name              0   0.000000
Sex               0   0.000000
Age             177  19.865320
SibSp             0   0.000000
Parch             0   0.000000
Ticket            0   0.000000
Fare              0   0.000000
Cabin           687  77.104377
Embarked          2   0.224467

# 평균 나이로 결측치 채우기

In [28]:
import pandas as pd

# Titanic 데이터 불러오기
url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/titanic.csv"
df = pd.read_csv(url)

# 결측치 개수 확인 (적용 전)
print("결측치 개수(적용 전):", df["Age"].isnull().sum())

# 평균 나이 계산
mean_age = df["Age"].mean()

# 결측치를 평균 나이로 채우기
df["Age"].fillna(mean_age, inplace=True)

# 결측치 개수 확인 (적용 후)
print("결측치 개수(적용 후):", df["Age"].isnull().sum())

# 평균 나이 출력
print(f"평균 나이로 채움: {mean_age:.2f}")

결측치 개수(적용 전): 177
결측치 개수(적용 후): 0
평균 나이로 채움: 29.70

C:\Users\hash0\AppData\Local\Temp\ipykernel_13248\812731204.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(mean_age, inplace=True)

# 특정 칼럼 삭제

In [30]:
import pandas as pd

# Titanic 데이터 불러오기
url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/titanic.csv"
df = pd.read_csv(url)

# 삭제할 칼럼 지정 ('Cabin', 'Ticket' 삭제)
columns_to_drop = ["Cabin", "Ticket", "Name"]
df.drop(columns=columns_to_drop, inplace=True)

# 변경된 데이터프레임 확인
print(df.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

# 인코딩 (성별) > ( Male → 0, Female → 1 )

In [32]:
# 성별 인코딩 (Male → 0, Female → 1)
df["Sex"] = df["Sex"].map({"male": 0, "female": 1})

print(df.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    0  22.0      1      0   7.2500        S
1            2         1       1    1  38.0      1      0  71.2833        C
2            3         1       3    1  26.0      0      0   7.9250        S
3            4         1       1    1  35.0      1      0  53.1000        S
4            5         0       3    0  35.0      0      0   8.0500        S